.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.887695;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:1.008000px;}
._14{width:11.088000px;}
._15{width:15.936000px;}
._1{width:26.640000px;}
._2{width:31.968000px;}
._7{width:74.256000px;}
._8{width:181.056000px;}
._b{width:186.336000px;}
._a{width:325.152000px;}
._6{width:338.448000px;}
._9{width:357.072000px;}
._11{width:367.824000px;}
._12{width:383.808000px;}
._c{width:386.448000px;}
._13{width:410.496000px;}
._f{width:421.104000px;}
._d{width:429.120000px;}
._4{width:431.760000px;}
._5{width:447.840000px;}
._e{width:487.824000px;}
._3{width:509.184000px;}
._10{width:599.952000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:48.000000px;}
.y25{bottom:47.479987px;}
.y24{bottom:61.278998px;}
.y23{bottom:130.273993px;}
.y22{bottom:144.073005px;}
.y21{bottom:171.670977px;}
.y20{bottom:185.469977px;}
.y1f{bottom:213.068010px;}
.y1e{bottom:226.867011px;}
.y1d{bottom:240.666022px;}
.y1c{bottom:254.464972px;}
.y1b{bottom:268.263984px;}
.y1a{bottom:282.062995px;}
.y19{bottom:295.862006px;}
.y18{bottom:309.660987px;}
.y17{bottom:323.459998px;}
.y16{bottom:337.259009px;}
.y15{bottom:351.057990px;}
.y14{bottom:364.857001px;}
.y13{bottom:392.454993px;}
.y12{bottom:406.254004px;}
.y11{bottom:420.053016px;}
.y10{bottom:433.851996px;}
.yf{bottom:447.651008px;}
.ye{bottom:475.249000px;}
.yd{bottom:489.048011px;}
.yc{bottom:502.846992px;}
.yb{bottom:516.646003px;}
.ya{bottom:530.445014px;}
.y9{bottom:544.243995px;}
.y8{bottom:558.043006px;}
.y7{bottom:571.842002px;}
.y6{bottom:585.640998px;}
.y5{bottom:599.439994px;}
.y4{bottom:613.239000px;}
.y3{bottom:627.038001px;}
.y2{bottom:654.265006px;}
.y1{bottom:668.064002px;}
.y0{bottom:692.500000px;}
.h2{height:34.945312px;}
.h3{height:34.968750px;}
.h1{height:121.500000px;}
.h0{height:842.000000px;}
.w1{width:538.500000px;}
.w0{width:595.349976px;}
.x0{left:28.000000px;}
.x3{left:46.350000px;}
.x6{left:64.350000px;}
.x4{left:67.050001px;}
.x5{left:82.350000px;}
.x2{left:186.601007px;}
.x1{left:208.340006px;}
.x7{left:388.350000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:1.344000pt;}
._14{width:14.784000pt;}
._15{width:21.248000pt;}
._1{width:35.520000pt;}
._2{width:42.624000pt;}
._7{width:99.008000pt;}
._8{width:241.408000pt;}
._b{width:248.448000pt;}
._a{width:433.536000pt;}
._6{width:451.264000pt;}
._9{width:476.096000pt;}
._11{width:490.432000pt;}
._12{width:511.744000pt;}
._c{width:515.264000pt;}
._13{width:547.328000pt;}
._f{width:561.472000pt;}
._d{width:572.160000pt;}
._4{width:575.680000pt;}
._5{width:597.120000pt;}
._e{width:650.432000pt;}
._3{width:678.912000pt;}
._10{width:799.936000pt;}
.fs0{font-size:64.000000pt;}
.y25{bottom:63.306650pt;}
.y24{bottom:81.705331pt;}
.y23{bottom:173.698658pt;}
.y22{bottom:192.097340pt;}
.y21{bottom:228.894636pt;}
.y20{bottom:247.293303pt;}
.y1f{bottom:284.090680pt;}
.y1e{bottom:302.489348pt;}
.y1d{bottom:320.888030pt;}
.y1c{bottom:339.286630pt;}
.y1b{bottom:357.685312pt;}
.y1a{bottom:376.083993pt;}
.y19{bottom:394.482675pt;}
.y18{bottom:412.881316pt;}
.y17{bottom:431.279997pt;}
.y16{bottom:449.678679pt;}
.y15{bottom:468.077320pt;}
.y14{bottom:486.476002pt;}
.y13{bottom:523.273324pt;}
.y12{bottom:541.672006pt;}
.y11{bottom:560.070688pt;}
.y10{bottom:578.469329pt;}
.yf{bottom:596.868010pt;}
.ye{bottom:633.665333pt;}
.yd{bottom:652.064014pt;}
.yc{bottom:670.462655pt;}
.yb{bottom:688.861337pt;}
.ya{bottom:707.260019pt;}
.y9{bottom:725.658660pt;}
.y8{bottom:744.057341pt;}
.y7{bottom:762.456003pt;}
.y6{bottom:780.854664pt;}
.y5{bottom:799.253325pt;}
.y4{bottom:817.652000pt;}
.y3{bottom:836.050668pt;}
.y2{bottom:872.353341pt;}
.y1{bottom:890.752003pt;}
.y0{bottom:923.333333pt;}
.h2{height:46.593750pt;}
.h3{height:46.625000pt;}
.h1{height:162.000000pt;}
.h0{height:1122.666667pt;}
.w1{width:718.000000pt;}
.w0{width:793.799967pt;}
.x0{left:37.333333pt;}
.x3{left:61.800001pt;}
.x6{left:85.800001pt;}
.x4{left:89.400002pt;}
.x5{left:109.800001pt;}
.x2{left:248.801343pt;}
.x1{left:277.786674pt;}
.x7{left:517.800001pt;}
}
